<html>
	<head>
		<title>ЛОГИ</title>
		<link rel="stylesheet" href="{{ url_for('static',filename='problems/0/style.css') }}">
	</head>
	<body>
		{% for state in fieldLog %}
			{% for line in state %}
				{% for c in line %}
					{% if c[1] == 1 %}
						<span class="highlited">{{ c[0] }}</span>
					{% else %}
						{{ c[0] }}
					{% endif %}
				{% endfor %}
				<br>
			{% endfor %}
			<br>
		{% endfor %}
		<br>
		<p>The first solution got {{ res1 }}</p>
		<p>The second soulution got {{ res2 }}</p>
		<p class="highlited">KEK</p>
	</body>
</html>
