<html>
	<head>
		<title>ЛОГИ</title>
	</head>
	<body>
		{% for state in fieldLog %}
			{% for line in state %}
				<p>
				{% for c in line %}
					{{ c }}
				{% endfor %}
				</p>
			{% endfor %}
		{% endfor %}
	</body>
</html>
