<html>
	<head>
		<title>ЛОГИ</title>
		<link rel="stylesheet" href="styles.css">
	</head>
	<body>
		{% for state in fieldLog %}
			{% for line in state %}
				{% for c in line %}
					{{ c }}
				{% endfor %}
				<br>
			{% endfor %}
			<br>
		{% endfor %}
	</body>
</html>
