h1, h2, h3, h4, h5, a, div
{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.green_table
{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 98%;
}

.green_table th, tr
{
    padding: 15px;
    text-decoration: none;
    text-align: left;
}

.green_table tr:nth-child(even) 
{
    background-color: #f2f2f2;
}

.green_table tr:nth-child(odd) 
{
    background-color: #D9D9D9;
}

.green_table tr:hover 
{
    background-color: #ffdddd;
}

.green_table th
{
    background-color: #64A861;
    color: white;
}

.headblue
{   
    border: 1px; 
    padding: 10px;
    font-size: 20;
    background: linear-gradient(to right, #71A1DA, #EDE4CF);
    color: #ffffff;
    border-collapse: collapse;
    width: 60%;

}

.roundred
{
    border: 1px;   
    border-radius: 10px;
    font-size: 14px;
    padding: 6px;
    background-color: #D7B679;
    color: #3C1610;
    border-collapse: collapse;
    width: 30%;
    text-decoration: none;
}

.message
{
    border-radius: 6px;
    padding: 5px;
    border-collapse: collapse;
    width: 30%;
    color: white;
}

.red {background-color: #cd5c5c;}
.green{background-color: #75d770;}
.blue{background-color: #6eb3de;}

.login
{
    color: #00008B; font-style: italic
}

a.button27 {
    position: relative; 
    top: -14;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    text-decoration: none;
    background: #9FD5C2;
    color: #14384D;
}

a.button27:hover {
    background: #278191;
    color: white;
}

.number_table
{
    border-collapse: collapse;
    counter-reset: number;
}

.number_table tr
{
    counter-increment: number;
}

.number_table td,
.number_table tr:before
{
    padding: .1em .8em;
    border: 1px;
}

.number_table tr:before
{
    content: counter(number);
    display: table-cell;
    color: #828282;
    text-align: right;
    font-family: monospace;
}