{% extends "base.html.j2" %}

{% block content %}
	<head>
		<link rel="stylesheet" href="{{ url_for('static',
			filename='problems/' + strId + '/style.css') }}">
	</head>
	<body>
	<span class="log">
		{% for state in fieldLog %}
			{% for line in state %}
				{% for c in line %}
					{% if c[1] == 1 %}
						<span class="highlited">{{ c[0] }}</span>
					{% else %}
						{{ c[0] }}
					{% endif %}
				{% endfor %}
				<br>
			{% endfor %}
			<br>
		{% endfor %}
		<br>
		<p>The first solution got {{ res1 }}</p>
		<p>The second soulution got {{ res2 }}</p>
		<p class="highlited">KEK</p>
	</span>
	</body>
{% endblock %}
