{% extends "base.html.j2" %}

{% block content %}
    <body>
        <h1 class="headblue" >Create tournament</h1>
        <form action="", method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.probId.label }}<br>
                {{ form.probId(size=32, value=default) }}
            </p>
            <p>
                {{ form.start.label }}<br>
                {{ form.start(size=32) }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </body>
{% endblock %}

