{% extends "base.html.j2" %}

{% block content %}
    <body>
        <h1 class="headblue" >Add/Edit problem</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <p>
                {{form.probId.label}}<br>
                {{form.probId(size=32)}}<br>
            </p>
            <p>
                Upload problem archive:<br><br>
                <input id="selectfile" name="selectfile" required="" size="32" type="file" class="inputfile">
                <label for="selectfile" class="button_submit">Choose a file</label>
            </p>
            <p>
                <input class="button_submit" id="submit" name="submit" type="submit" value="Submit">
            </p>
        </form>
    </body>
{% endblock %}
