<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/trash.css')}}">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Need Title</title>
        {% endif %}
    </head>
    <body bgcolor="#DCDCDC">
        <div>
            <img src="{{ url_for('static',filename='pictures/pic.png') }}" alt="-_-">
            <font size="5"><b>Strategy trial:</b></font>
            <a href="/home">Home</a>
            <a href="/problemset">Problemset</a>
            {% if info.logged_in == 0 %}
            <a href="/login">Login</a>
            <a href="/sign_up">Sign up</a>
            <a>{{ info.username }}</a>
            {% else %}
            <a href="/submissions">Submissions</a>
            <a href="/logout">Log out</a>
            <a href="/settings">{{ info.username }}</a>
            {% endif %}
            {% if info.admin == 1 %}
            <b>(admin)</b>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
        {% endwith %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
