<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/trash.css')}}">
        <link rel="shortcut icon" href="{{url_for('static', filename='pictures/iconpicture.png')}}" type="image/x-icon">
        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>Need Title</title>
        {% endif %}
    </head>
    <body bgcolor=#ECE8D4>
        <div>
            <img src="{{ url_for('static',filename='pictures/headpicture.png') }}" alt="-_-">
            <a> </a>
            <a class="button27" href="/home">Home</a>
            <a class="button27" href="/problemset">Problemset</a>
            {% if info.logged_in == 0 %}
            <a class="button27" href="/login">Login</a>
            <a class="button27" href="/sign_up">Sign up</a>
            <a>{{ info.username }}</a>
            {% else %}
            <a class="button27" href="/submissions">Submissions</a>
            <a class="button27" href="/logout">Log out</a>
            {% if info.admin == 1 %}
            <a class="button27" href="/settings">{{ info.username }} (admin)</a>
            {% else %}
            <a class="button27" href="/settings">{{ info.username }}</a>
            {% endif %}
            {% endif %}
            {% if info.admin == 1 %}
                <a class="button27" href="/add_tournament">Add tournament</a> 
                <a class="button27" href="/add_problem">Add/Edit problem</a>
                <a class="button27" href="/users_list">List of users</a>
            {% endif %}
        </div>
        {% with messages = get_flashed_messages(with_categories = true) %}
        {% for category, message in messages %}
            {% if message != "" %}
                <p class="{{ category }}">{{ message }}</p>
            {% endif %}
        {% endfor %}
        {% endwith %}
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>
