{% extends "base.html.j2" %}

{% block content %}
    <div align="center">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat.css') }}">
        <div class="container">
            {% if pageCnt %}
                <span align="center"><h2 align="center" class="chatpage">Page {{ page }}</h2></span><br>

                {% if page != 0 %}
                    <a class="button27" href=/chat?page={{ page - 1 }}>Newer</a>
                {% endif %}

                {% if page != pageCnt - 1 %}
                    <a class="button27" href=/chat?page={{ page + 1 }}>Older</a>
                {% endif %}

                <br>
            {% endif %}
            {% for msg in messages %}
                <span class="username">{{ msg.username }}</span>
                <snan class="date">{{ msg.strTime }}</snan><br>
                <code><pre class="problem">{{msg.content}}</pre></code>
            {% endfor %}
            {% if info.logged_in %}
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <px>
                        {{ form.contentField }}
                    </p>
                    <p>
                        <input class="button_submit" id="submit" name="submit" type="submit" value="Post">
                    </p>
                </form>
            {% else %}
                <hr><br>
                <span class="login"><a href="/login" class="button_submit">Log in</a> or <a href="/sign_up" class="button_submit"> sign up</a> to send your message</span>
            {% endif %}
        </div>
    </div>
{% endblock %}

