{% extends "base.html.j2" %}

{% block content %}
    <div align="center">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/chat.css') }}">
        <div class="container">
            {% for msg in messages %}
                <p>
                    <span class="username">{{ msg.username }}</span>
                    <snan class="date">{{ msg.strTime }}</snan><br>
                    <code><pre>{{msg.content}}</pre></code>
                </p>
            {% endfor %}
            {% if info.logged_in %}
                <form action="" method="post">
                    {{ form.hidden_tag() }}
                    <p>
                        {{ form.contentField }}
                    </p>
                    <p>
                        {{ form.submit() }}
                    </p>
                </form>
            {% else %}
                <h3><a href="/login">Log in</a> or <a href="/sign_up"> sign up</a> to send your message</h3>
            {% endif %}

            {% if pageCnt %}
                Page {{ page }}<br>

                {% if page != pageCnt - 1 %}
                    <a href=/chat?page={{ page + 1 }}>Older</a>
                {% endif %}

                {% if page != 0 %}
                    <a href=/chat?page={{ page - 1 }}>Newer</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}

