{% extends "base.html.j2" %}

{% block content %}
    <div align="center">
        {% for msg in messages %}
            <p>
                {{ msg.id }}<br>
                {{ msg.username }}<br>
                {{ msg.strTime }}<br>
                {{ msg.content }}
            </p>
        {% endfor %}
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
                {{ form.contentField }}
            </p>
            <p>
                {{ form.submit() }}
            </p>
        </form>
    </div>
{% endblock %}

