{% extends "base.html.j2" %}

{% block content %}
    <h1 class="headblue" >Sign in</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            <input class="button_submit" id="submit" name="submit" type="submit" value="Sign In">
        </p>
    </form>
    <div>
        <p class="login">No account? Create it <a href="/sign_up">here</a>!</p>
    </div>
{% endblock %}

