{% extends "base.html" %}

{% block content %}
    <table border="1">
        <tr><th>Problem {{ problem.rules.name }}</th></tr>
    </table>
    <p>{{ problem.statement }}</p>
    <table border="1">
        <tr><th>Files to download:</th></tr>
    </table>
    <h3>Submissions</h3>
    <!-- <table border="1">
        <tr><th>Submission id</th><th>Name</th><th>Status</th><th>View</th></tr>
        {% for submission_id in dict_submissions %}
            <tr><td>{{ submission_id }}</td> 
            <td>{{ problem_name }}</td> 
            <td>{{ dict_submissions[submission_id]["Status"] }}</td>
            <td><a href=/{{ "submissions" + "/" + submission_id }}> <b>View</b> </td></tr>
        {% endfor %}
    </table> -->
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.selectfile() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
