{% extends "base.html" %}

{% block content %}
    <table border="1">
        <tr><th>Problem {{ problem.rules.name }}</th></tr>
    </table>
    <p>{{ problem.rules.statement }}</p>
    <table border="1">
        <tr><th>Files to download:</th></tr>
    </table>
    <h3>Submissions</h3>

    <!-- shouldn't be copypasted -->

    {% if subList %}
        <table border="1">
            <tr><th>Id</th><th>ProbName</th><th>Type</th><th>Source</th></tr>

            {% for submission in subList %}

                <tr>
                    <td>{{ submission.id|string }}</td>
                    <td>{{ submission.probName }}</td>
                    <td>{{ submission.type}}</td>
                    <td><a href=/{{ "source" + "/" + submission.id|string }}>
                    <b>View source</b> </td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}

    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.selectfile() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}
