{% extends "base.html.j2" %}

{% block content %}
    <form action="" method="post">
        <table border="1">
            <tr><th>Id</th><th>Username</th><th>ProbName</th><th>Type</th><th>First</th><th>Second</th></tr>

            {% for submission in subList %}

                <tr>
                    <td>{{ submission.id|string }}</td>
                    <td>{{ submission.username|string }}</td>
                    <td>{{ submission.probName }}</td>
                    <td>{{ submission.type}}</td>
                    <td><input type="radio" name="st1" value="{{ submission.id }}"></td>
                    <td><input type="radio" name="st2" value="{{ submission.id }}"></td>
                </tr>

            {% endfor %}

        </table>

        <input type="submit" name="run">
    </form>
{% endblock %}
