{% extends "base.html.j2" %}

{% block content %}
    <form action="" method="post">
        <table class="green_table">
            <tr><th>Id</th><th>Username</th><th>ProbName</th><th>Type</th><th>First</th><th>Second</th></tr>

            {% for submission in subList %}

                <tr>
                    <td>{{ submission.id|string }}</td>
                    <td>{{ submission.username|string }}</td>
                    <td>{{ submission.probName }}</td>
                    <td>{{ submission.type}}</td>
                    <td><input type="radio" name="st1" value="{{ submission.id }}"></td>
                    <td><input type="radio" name="st2" value="{{ submission.id }}"></td>
                </tr>

            {% endfor %}

        </table>
        <br>
        <input class="button_submit" type="submit" name="run">
    </form>

    <h2><a class="roundred" href={{ "/problemset/" + probId|string }}>Go back</a></h2>

{% endblock %}
