{% extends "base.html.j2" %}

{% block content %}

    <table border="1">
        <tr><th>Id</th><th>Username</th><th>ProbName</th><th>Type</th><th>First</th><th>Second</th></tr>

        {% for submission in subList %}

            <tr>
                <td>{{ submission.id|string }}</td>
                <td>{{ submission.username|string }}</td>
                <td>{{ submission.probName }}</td>
                <td>{{ submission.type}}</td>
                <td><input type="checkbox" name="lol"></td>
                <td><input type="checkbox" name="kek"></td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}
