{% extends "base.html.j2" %}

{% block content %}
    <body>
        <h1> {{ message }} </h1>
        <a>If you think it's an accident, you can </a><a href="/reset">reset</a><a> them for this website.</a>
    </body>
{% endblock %}

