{% extends "base.html" %}

{% block content %}
    <h1>Sign up</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.secondname.label }}<br>
            {{ form.secondname(size=32) }}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
		
		<p>
			{{ form.passwordRet.label }}<br>
			{{ form.passwordRet(size=32)}}
		</p>

        <p>
            {{ form.submit() }}
        </p>
    </form>
    <div>
        <p style="color: #00008B; font-style: italic">Already have an account? Sign in <a href="/login">here</a>!</p>
    </div>
{% endblock %}
