{% extends "base.html.j2" %}

{% block content %}
    <body>
    <code>
        <table class="number_table">
            {% for line in code %}
            <tr>
                <td><pre>{{ line }}</pre></td>
            </tr>
            {% endfor %}
        </table>
     </code>
    </body>
{% endblock %}

