{% extends "base.html.j2" %}

{% block content %}
<div>
    <h2>Time: {{ time }}</h2>
    {% if oldRev is defined %}
        <p class="login">This tournament was created for problem revision {{ oldRev }}</p>
    {% endif %}
    <table class="green_table">
        <tr>
            <th>Place</th>
            <th>Score</th>
            <th>Username</th>
        </tr>
    {% for i in standings %}
        <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
        </tr>
    {% endfor %}
    </table>
</div>

<h3><a class="button_submit" href=/{{ "problemset" + "/" + probId|string }}><b>Back to the problem</b></a></h3>

{% endblock %}
