{% extends "base.html" %}

{% block content %}

    <table border="1">
        <tr><th>Id</th><th>ProbName</th><th>Type</th><th>Source</th></tr>

        {% for submission in subList %}

            <tr>
                <td>{{ submission.id|string }}</td>
                <td>{{ submission.probName }}</td>
                <td><a href=/{{ "submissions" + "?chSubId" + "=" + submission.id|string }}>{{ submission.type}}</td>
                <td><a href=/{{ "source" + "/" + submission.id|string }}>
                <b>View source</b> </td></a>
            </tr>

        {% endfor %}
    </table>

{% endblock %}
