{% extends "base.html" %}

{% block content %}

    <table border="1">

        <tr><th>Id</th><th>ProbName</th><th>Type</th><th>Source</th></tr>

        {% for submission in subList %}

            <tr>
                <td>{{ submission.id|string }}</td>
                <td>{{ submission.probName }}</td>
                <td>{{ submission.type}}</td>
                <td><a href=/{{ "source" + "/" + submission.id|string }}>
                <b>View source</b> </td>
            </tr>

        {% endfor %}

    </table>

{% endblock %}
