{% extends "base.html.j2" %}

{% block content %}

	<table border="1">

	<tr><th>Username</th><th>Type</th><th>Name</th><th>Second Name</th></tr>

	{% for user in lst %}
		<tr>
			<td>{{ user[1] }}</td>
			<td><a href=/{{"users_list?chUserId=" + user[0]|string }}>{% if user[2] == 1 %}Admin{% else %}Default{%endif%}</a></td>
            <td>{{ user[3] }}</td>    
            <td>{{ user[4] }}</td>
        </tr>
	{% endfor %}

	</table>

{% endblock %}
